
Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
.mvn
mvnw
mvnw.bat
aot-jar.properties
micronaut-cli.yml
.vscode
.aws-sam
.idea
